body {
    background-color: #cecece;
    margin: 0;
    display: flex;
    height: 100vh;
}

@font-face {
    font-family: Panton;
    src: url("assets/fonts/Panton-BlackCaps.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Antapani;
    src: url("assets/fonts/Antapani-ExtraBold.otf");
    font-weight: normal;
    font-style: normal;
}
.left {
    width: 33%;
    background: url('assets/passport_photo.jpg') top/cover no-repeat;
    transition: transform 0.5s ease-in-out;
}
.right {
    width: 67%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
    transition: transform 0.5s ease-in-out;
}
.text {
    font-family: Antapani;
    font-size: 1.5rem;
}
h1 {
    font-family: Panton;
    font-size: 3.5rem;
    text-align: center;
    margin: 0;
    margin-bottom: 200px;
}
h2 {
    font-family: Panton;
    font-size: 3.5rem;
    text-align: center;
    margin-top: 200px;
}
h3 {
    font-family: Panton;
    font-size: 3.5rem;
    text-align: center;
}
.icon-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}
.icon-buttons a {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000000;
    border-radius: 20px;
    text-decoration: none;
    overflow: hidden;
    border: 5px solid #000000;
    margin-left: 0px;
    margin-right: 0px;
    transition: transform 0.2s ease-in-out, border 0.2s ease-in-out, margin-left 0.3s ease-in-out, margin-right 0.3s ease-in-out;
}
.icon-buttons a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.icon-buttons a:hover {
    transform: translateY(-5px);
    background-color: #00000000;
    border: 20px solid transparent;
    margin-left: 20px;
    margin-right: 20px;
}
.back-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-family: Panton;
    background: none;
    border: 5px solid #000;
    border-radius: 20px;
    cursor: pointer;
    transition: bottom 0.3s ease-in-out;
}


/* For project page content */
.content {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

.row {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.row img {
    width: 40%;
    height: auto;
    border-radius: 10px;
}

.row .text {
    width: 60%;
    font-size: 1.5rem;
    padding: 20px;
}

.reverse {
    background-color: #b8b8b8;
    padding: 20px;
    border-radius: 10px;
    flex-direction: row-reverse;
}

.image-container {
    display: flex;
    flex-direction: column; /* Stack images vertically */
    gap: 20px; /* Space between images */
}

.image-container img {
    width: 100%; /* Make both images the same width */
    height: auto;
    border-radius: 10px;
}
